<a href="https://colab.research.google.com/github/rharkovskyProf/IntProgramacao/blob/main/ExemplosStringFor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
st1 = 'Bom dia '
st2 = 'amiguinhos!!!!'
st3 = st1 + st2
print(st3)

Bom dia amiguinhos!!!!

In [11]:
print(f'O tamanho da string st3 é {len(st3)} caracteres')

print(f'{st3[0:3]}')

O tamanho da string st3 é 22 caracteres
Bom

In [14]:
st4 =' A aula de Introdução a Programação é LEGAL'
print(f'Original: {st4}')
print(f'Versão minuscula: {st4.lower()}')
print(f'Versão maiuscula: {st4.upper()}')

Original:  A aula de Introdução a Programação é LEGAL
Versão minuscula:  a aula de introdução a programação é legal
Versão maiuscula:  A AULA DE INTRODUÇÃO A PROGRAMAÇÃO É LEGAL

In [24]:
st5 = '1Bem-vindos a Introdução a Programação'

print(st5.startswith('1Bem-vindos'))
print(st5.count('ção'))
print(st5[0].isalpha())
print(st5[0].isdigit())

False
2
False
True

In [26]:
for cont in range(1,11):
  print(cont)

1
2
3
4
5
6
7
8
9
10

In [35]:
for i in range(11):
  if i % 2 ==0:
    print(f"o numero {i} é par")
  else:
    print(f"o numero {i} é impar")

o numero 0 é par
o numero 1 é impar
o numero 2 é par
o numero 3 é impar
o numero 4 é par
o numero 5 é impar
o numero 6 é par
o numero 7 é impar
o numero 8 é par
o numero 9 é impar
o numero 10 é par

In [32]:
for i in range(2,20,3):
  print(i)

2
5
8
11
14
17

In [38]:
frutas=["banana", "pera", "maça", "abacate", "abacaxi"]
for fruit in frutas:
  if fruit[0]=='a':
    print(f"{fruit} começa com a")
  else:
    print(f"{fruit} NAO começa com a")

banana NAO começa com a
pera NAO começa com a
maça NAO começa com a
abacate começa com a
abacaxi começa com a

In [39]:
# calculado media de 5 alunos
for cont in range(6):
  aluno = input("entra com o nome do aluno: ")
  n1 = float(input("entre com a 1a nota: "))
  n2 = float(input("entre com a 2a nota: "))
  media = (n1 + n2) /2
  print(f" O aluno {aluno} teve media {media}")

print("FIM DO PROGRAMA")

entra com o nome do aluno: Roberto
entre com a 1a nota: 7.6
entre com a 2a nota: 9.6
 O aluno Roberto teve media 8.6
entra com o nome do aluno: Raplh
entre com a 1a nota: 10
entre com a 2a nota: 9.6
 O aluno Raplh teve media 9.8
entra com o nome do aluno: Lais
entre com a 1a nota: 6.9
entre com a 2a nota: 10
 O aluno Lais teve media 8.45
entra com o nome do aluno: Fabio
entre com a 1a nota: 6
entre com a 2a nota: 8
 O aluno Fabio teve media 7.0
entra com o nome do aluno: Felpe
entre com a 1a nota: 8
entre com a 2a nota: 5.5
 O aluno Felpe teve media 6.75
entra com o nome do aluno: Rodrigo
entre com a 1a nota: 6.7
entre com a 2a nota: 9
 O aluno Rodrigo teve media 7.85
FIM DO PROGRAMA

In [44]:
texto = input("Entre com um texto: ")

print(f'A quantidade do caater {texto[0]} é {texto.count(texto[0])}')

Entre com um texto: la aula e legal
A quantidade do caater l é 4