<a href="https://colab.research.google.com/github/rharkovskyProf/IntProgramacao/blob/main/Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LISTAS

# Exemplo 1
Inverta a lista lista1 = [100, 200, 300, 400, 500]

In [6]:
lista1 = [100, 200, 300, 400, 500]
#print(len(lista1))
lista2=[]
tamanho = len(lista1)
print(tamanho)
for i in range (tamanho-1, -1, -1):
  lista2.append(lista1[i])

print('opção1')
print(lista2)

# 2 opção
lista1.reverse()
print('opção2')
print(lista1)

5
opção1
[500, 400, 300, 200, 100]
opção2
[500, 400, 300, 200, 100]
[100, 200, 300, 400, 500]

Ordenando uma lista

In [7]:
# ordenando a lista
lista3 = [400, 100, 500, 200, 300]
lista3=sorted(lista1)
print(lista3)

[100, 200, 300, 400, 500]

# Exemplo 2.
Transforme cada item da lista numeros = [1, 2, 3, 4, 5, 6, 7] em seu quadrado

In [ ]:
numeros = [11, 21, 33, 14, 5, 76, 47]
# resultado
res = []
for i in numeros:
    # calcula o quadrado
    res.append(i * i)
print(res)

[121, 441, 1089, 196, 25, 5776, 2209]

## Exemplo 3.
Remova strings vazias da lista [“Beto”, “Julia”, “Paula”, ””, “Isabela”]

In [ ]:
lista1 = ['Beto', 'Julia', 'Paula', '', 'Isabela']
lista2=[]
for i in lista1:
  if i !='':
    lista2.append(i)
print(lista2)

['Beto', 'Julia', 'Paula', 'Isabela']

In [ ]:
lista1 = ['Beto', '','Julia', 'Paula', '', 'Isabela','']
for i in lista1:
  if i =='':
    lista1.remove(i)
print(lista1)

['Beto', 'Julia', 'Paula', 'Isabela']

## Exemplo 4.
Adicionar item 50 à lista lista1 = [10, 20, 25, 30, 40]

In [ ]:
lista1 = [10, 20, 25, 30, 40]
lista1.append(50)
print(lista1)

[10, 20, 25, 30, 40, 50]

## Exemplo 5.
Remover o item 50 da lista lista1 = [10, 20, 25, 30, 40, 50]

In [8]:
lista1 = [10, 20, 25, 30, 40, 50]
lista1.remove(50)
print(lista1)

[10, 20, 25, 30, 40]